extends layout

block content
    h4.mb-3 Sign up
    form.form-login(action="/register", method="post", id="register")
        .form-group 
            label(for="username") Username
            input.form-control(type="text", name="username", id="username", placeholder="username", required="true")
        .form-group
            label(for="password") Password
            input.form-control(type="password", name="password", id="password", placeholder="password", required="true")
        //- input(type="hidden", name="xpub_key", id="xpub_key")
        button.btn.btn-primary(type="button", data-toggle="modal", data-target="#mnemonic-modal") Register

    #mnemonic-modal.modal.fade(tabindex="-1")
        .modal-dialog
            .modal-content
                .container-fluid
                    .modal-header
                        h3.modal-title Key management
                        button.close(type="button" data-dismiss="modal") &times;
                    .modal-body
                        .form-group
                            label(for="mnemonic") Mnemonic Passphrase
                            input.form-control(type="text", id="mnemonic", placeholder="mnemonic", readonly="true", name="mnemonic") 
                        p.text-muted Memorize the mnemonic. Need it to access funds and use wallet. 
                        .form-group
                            label(for="seed_passphrase") Passphrase for wallet seed    
                                span.text-muted (Optional)
                            input.form-control(type="password", id="seed_passphrase", placeholder="seed passphrase", form="register")

                        p Or import own xpub:
                        .form-group
                            label(for="xpub_key") xpub key
                            input.form-control(type="text", id="xpub_key", name="xpub_key", form="register")
                    .modal-footer
                        button.btn.btn-primary(type="submit", form="register") Continue
                
block append scripts
    script(src="/js/bundle/register.js")