doctype html
html
    head
        link(rel="stylesheet", type="text/css", href="stylesheets/main.css")
        title bitcoin crowdfunding
    body
        nav
            a(href="/") Home
            a(href="/wallet") Wallet
        
        h1 Transaction #{txid} processed
        