extend layout

block content
    form(action="/transmit", method="post", id="payment_form")
        p private key 
        input(type="text", name="private_key")
        p destination address
        input(type="text", name="destination_addr")
        p amount
        input(type="text", name="amount")
        p
        input(type="hidden", name="rawtx")
        input(type="submit")

    div
        button#genAddress Generate Random Address
        p#address